@import '../../common/css/common.scss';

.mainContent {
    // padding: 20px;
}
.addInputWrap {
    float: left;
    width: 100%;
    padding: 10px;
}
.todoList {
    overflow-y: auto;
    height: calc(100vh - 105px);
}
.todoList li {
    width: 100%;
    float: left;
    padding: 15px;
    border-bottom: 1px solid $borderColor;
}
.todoList li .taskName {
    float: left;
    max-width: calc(100% - 25px);
}
.todoList li .delete {
    float: right;
    width: 16px;
    height: 16px;
    opacity: 0.3;
    cursor: pointer;
    background-image: url("../../../assets/images/icons/bin.svg");
    background-size: 100%;
}
.todoList li:hover .delete, .todoList li:hover .taskListDate{
    opacity: 1;
}
.taskListDate {
    color: $primaryColor;
    margin-bottom: 5px;
    opacity: 0.5;
}
.addTaskInput {
    margin: 0;
    width: calc(100% - 90px);    
}
