<div class="fullWrap mainContent">
  <ul class="fullWrap todoList">
    <li class="hover" *ngFor="let task of taskList">
      <div class="fullWrap taskListDate">{{getTAskDate(task.id)}}</div>
      <div class="taskName">{{task.name}}</div>
      <span class="delete" (click)="onTaskDelete(task)" title="Delete This task permanently"></span>
    </li>
  </ul>
  <div class="addInputWrap">
    <input
      class="addTaskInput" 
      type="text"
      name="task"
      placeholder="e.g:- Read every day."
      [(ngModel)]="taskName"
      (keyup.enter)="addNewTask()" 
    />
    <div class="primaryButton floatRight" (click)="addNewTask()">Add Task</div>
  </div>
</div>
