<div class="fullWrap mainContent">
  <ul class="fullWrap todoList">
    <li class="hover" *ngFor="let task of taskList">
      <div class="taskName">{{task.name}}</div>
      <span class="delete" (click)="onTaskDelete(task)"></span>
    </li>
  </ul>
  <div class="addInputWrap">
    <input 
      type="text"
      name="task" 
      placeholder="e.g:- Read every day."
      [(ngModel)]="taskName"
      (keyup.enter)="addNewTask()">
    <div class="primaryButton" (click)="addNewTask()">Add Task</div>
  </div>
</div>
