// colors
$black1: #080808;
$black2: #101010;
$black3: #202020;
$white: #ffffff;
$textColor: #BEBEBE;
$hoverColor: #404040;
$borderColor: #404040;
$primaryColor: #306efe;

// font sizes
$font12: 12px;
$font14: 14px;
$font16: 16px;
$font18: 18px;


// mixins
@mixin transition($x...){
	-webkit-transition: $x;
	-moz-transition: $x;
	-ms-transition: $x;
	-o-transition: $x;
	transition: $x;
}
@mixin border($x...) {
	-webkit-border: $x;
	-moz-border: $x;
	-ms-border: $x;
	-o-border: $x;
	border: $x;
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
* {
	box-sizing: border-box;
	line-height: 140%;
}
body {
	line-height: 1;
	background-color:$black1;
	font-size: $font14;
	font-family: 'Open Sans', sans-serif;
	color: $textColor;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h2 {
	float: left;
	font-size: $font18;
}
input:focus {
	outline: none;
}
input {
	float: left;
	background-color: $black2;
	width: 100%;
	color: $textColor;
	padding: 8px 15px;
	margin: 10px 0;
	font-size: $font12;
	@include border(1px solid $borderColor);
}
.fullWrap {
    width: 100%;
    float: left;
}
.midWrap {
	max-width: 1000px;
	margin: auto;
}
.mainContainer {
	float: left;
	min-height: 100vh;
	width: 75%;
    // margin-left: 60px;
    // width: calc(100% - 60px);
}
.floatRight {
	float: right !important;
}
.borderRightGrey {
	border-right: 1px solid #ccc; 
}
.darkBg1 {
	background-color: $black1;
}
.darkBg2 {
	background-color: $black2;
}
.darkBg3 {
	background-color: $black3;
}
.hover:hover {
	background-color: rgba(0, 30, 59, 0.4);
	// border: 1px solid rgb(0, 75, 164);
}
.addButton {
	float: left;
	padding: 10px;
	color: $textColor;
	font-size: $font18;
	cursor: pointer;
}
.addButton:hover {
	background-color: $hoverColor;
}
.primaryButton {
	float: left;
	font-size: $font12;
	background-color: $primaryColor;
	padding: 8px 15px;
	cursor: pointer;
	@include transition(0.3s all 0s ease);
	@include border(1px solid $borderColor);
}
.primaryButton:hover {
	background-color: transparent;
	@include border(1px solid $borderColor);
}


